*{
	color:  #1f2839;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-track{
	border-radius: 5px;
	box-shadow: inset 0 0 10px #fff;
}

::-webkit-scrollbar-thumb{
	border-radius: 5px;
	background-color:  #1f2839;
}

ul.desc-list{
	list-style-type: square;
	margin-left: 3%;
	font-weight: 500;
}

iframe{
	overflow-y: hidden;
	overflow-x: hidden;
}
.legalTheme{
	background = #b69d74;
}



/*--Page Banners--*/
#pageBanner{
	background: url(photos/logo_final.jpeg);
	background-size: initial;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}

#consultingBanner{
	background: url(photos/consultingServicesLogo.jpg);
	background-size: initial;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}


.BannerContent{
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-40%, -60%);
}

.bannerText{
	display: block;
}

.banner-btn{
	margin-top: 2%;
	display: inline-block;
}

.banner-btn a{
	width: 165px;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	display: inline-block;
	padding: 12px 2px;
	color: #1f2839;
	border: none;
	border-radius: 10px;
	position: relative;
	z-index: 1;
	transition: 0.5s;
}

.banner-btn a span{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 10px;
	background: #b69d74;
	z-index: -1;
	/*transition: 0.5s;*/
}

#nav_top{
 	width: 100%;
	height: 70px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	background: #b69d74;
	border: none;
}

nav{
	top: 0;
	margin-top: 1%;
	margin-left: 3.8%;	
}

nav ul li{
	display: inline;
	list-style: none;
	text-align: center;
	text-transform: uppercase;
	float: right;
	overflow: hidden;
}

nav ul li a button{
	cursor: pointer;
	border: none;
	color: #1f2839;
	text-transform: uppercase;
	border-left: 3px solid #1f2839;
	background: transparent;
	padding: 15px;
	margin: 0 5px 5px 3px;
	font-size: 16px;
	font-weight: bold;
	transition: 0.5s;
}

.nav-btn:hover, .nav-btn:hover i{
	background:#1f2839;
	border: none;
	color:#fff;
}

.dropdown{
	postion: relative;
	overflow: hidden;
}

.dropdown-items{
	display: none;
	position: absolute;
	z-index: 1;
	margin-top: 0.12%;
	background: #b69d74;
	border-radius: 1px;
}
.dropdown-items a {
	float: none;
	font-weight: bold;
	padding: 10px 3px;
	display: block;
	color: #1f2839;
	text-align: left;
	text-decoration: none;
}

.dropdown-items a:hover{
	color: #fff;
	background: #1f2839;
}

.dropdown:hover .dropdown-items{
  	display: block;
}


img.logo{
	display: block;
	position: absolute;
	top: 0;
	left: 8.6%;
	height: 100%;
	width: auto;
}

@media screen and (min-width: 280px) and (max-width: 770px){
	.dropdown-items{
		margin-top: 3.75%;
		font-size: 12px;
	}
	
	#pageBanner{
		height: cal(100vh - 10%);
		background-size: 68% auto;
	}

	nav ul li a button{
		width: 60px;
		font-size: 12px;
		padding: 1px;
	}
	
	.BannerContent{
		position: absolute;
		top: 70%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.bannerText{
		width: 100%;
	}
	.banner-btn{
		display: inline;
	}

	.banner-btn a{
		margin: 0.5%;
		font-size: 13px;
		width: 100px;
	}
}

@media screen and (max-width: 935px){

	#pgBanner{
		height: auto;
		background-size: contain;
	}

	nav ul li a button{
		width: 60px;
		font-size: 12px;
		padding: 1px;
	}
	.BannerContent{
		position: absolute;
		top: 70%;
		left: 50%;
		transform: translate(-80%, -30%);
	}
	.BannerContent h4{
		font-size: 20px;
	}
	
	.banner-btn a{
		margin: 0.5%;
		font-size: 12px;
		width: 120px;
	}
}

@media screen and (max-width: 440px){
	.dropdown-items{
		font-size: 11px;
		margin-top: 1.5%;
	}
	#pgBanner{
		height: auto;
	}
	
	.BannerContent{
		position: absolute;
		top: 70%;
		left: 50%;
		transform: translate(-80%, 0);
	}
	.BannerContent h4{
		font-size: 18px;
	}
	.banner-btn a{
		margin: 0.5%;
		font-size: 11px;
		width: 100px;
	}
}

@media screen and (max-width: 935px) and (max-height: 435px){

	#pgBanner{
		height: auto;
	}
	
	.BannerContent{
		position: absolute;
		top: 70%;
		left: 50%;
		transform: translate(-80%, +20%);
	}
	.BannerContent h4{
		font-size: 16px;
	}
	.banner-btn a{
		margin: 0.5%;
		font-size: 11px;
		width: 120px;
	}
}

/*--About Section--*/

#About{
	width: 100%;
	padding: 70px 0;
	background: #fff;
}

.SectionTitle{
	text-align: center;
	padding-bottom: 70px;
}

.SectionTitle p{
	margin: auto;
	font-size: 30px;
	font-weight: bold;
	postion: relative;
	z-index: 1;
	display: inline-block;
}

.SectionTitle h1{
	color: #1f2839;
	font-size: 80px;
	font-family: 'Poppins', sans-serif;	
}

.profile-box{
	width: 80%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background: transparent;
	padding: 20px;
	border-radius: 15px;
}

.memberProfile{
	flex-basis: 50%;
	height: 100%;
	color:#000;
}

.member-img{
	flex-basis: 50%;
	margin: auto;
}

.member-img img{
	width:60%;
	margin-left: 25%;
	border-radius: 10px;
}

.memberProfile h2{
	text-align: left;
	margin: 0 auto 15px auto;
	font-family:'Poppins', sans-serif;
	font-weight: 450;
	font-size: 45px;
	color: #1f2839;
}

.memberProfile h4{
	color:  #1f2839;
	font-weight: 200;
}

.profile-text{
	width: 100%;
}
.profile-text p{
	padding: 20px 20px 20px 0;
	text-align: initial;
	font-size: 16px;
	font-weight: 500;
}

.profile-btn a{
	width: 60%;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	display: block;
	padding: 12px 0;
	color: #1f2839;
	border: 0.5px solid #fff;
	border-radius: 10px;
	background: #b69d74;
	position: relative;
	margin-left: 25%;
	z-index: 1;
	transition: 0.5s;
}

@media screen and (min-width: 300px) and (max-width: 445px){
	#About{
		height: auto;
	}
	.SectionTitle p{
		font-size: 25px;
	}
	
	.SectionTitle h1{
		font-size: 45px;
	}

	.memberProfile{
		flex-basis: 100%
	}

	.member-img{
		flex-basis: 100%;
		margin-top: 5px;
		margin-left: 1px;
	}

	.profile-text p{
		font-size: 14px;
	}
	
	.profile-btn a{
		flex-basis: 100%;
		font-size: 12px;
	}
}

@media screen and (min-width: 450px) and (max-width: 900px){
	#About{
		height: auto;
	}
	.SectionTitle p{
		font-size: 35px;
	}
	
	.SectionTitle h1{
		font-size: 55px;
	}

	.memberProfile{
		flex-basis: 100%
	}

	.member-img{
		flex-basis: 100%;
		margin: 5px auto;
	}

	.profile-text p{
		font-size: 15px;
	}

	.profile-btn a{
		flex-basis: 100%;
	}
}

/*---Services Section---*/
/* Style for all the sections with services id */
#Services{
	width: 100%;
	padding: 70px 0;
	background: #fff;
}

.service-box{
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin:auto;
}

/*---Legal Services Styles---*/
.firm-service{
	flex-basis: 40%;
	height: auto;
	text-align: center;
	border-radius: 8px;
	margin-bottom: 10px;
	margin-top: 10px;
	color: #fff;
	position: relative;
}
.coach-service{
	flex-basis: 40%;
	height: auto;
}

.firm-service img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	opacity: 0.65;
}

.ser-overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	border-radius: 8px;
	cursor: pointer;
	opacity: 0;
	background: #b69d74;
	transition: 1s;
}

.service-desc{
	color: #fff;
	font-weight: 620;
	width: 80%;
	position: absolute;
	top: 15%;
	left: 50%;
	opacity: 0;
	transform: translateY(-15%) translateX(-50%);
	transition: 1s;
}

.coach-service-desc{
	font-weight: 550;
	opacity: 1;
	background: #00c060;
	width: 80%;
	top: 15%;
	left: 50%;
	transform: translateY(-10%) translateX(15%);
	border-radius: 10px;
}

hr{
	background: #fff;
	height: 2px;
	border: 0;
	margin: 20px auto;
	width: 100%;
}

.service-desc h3{
	color: #fff;
	font-size: 20px;
	position: absolute:
	top: 0;
}

.coach-service-desc h3{
	font-size: 20px;
}

.service-desc p{
	color: #fff;
	width: 100%;
	height: 115%;
	position: absolute;
	font-size: 12px;
	text-align: left;
	overflow-y: scroll;
	overflow-x: hidden;
}

.coach-service-desc p{
	width: 100%;
	height: 150%;
	background: #00c060;
	border-radius: 10px;
	font-size: 12px;
	text-align: center;
	overflow-y: scroll;
	overflow-x: hidden;
}

.coach-service-desc ul{
	font-size: 12px;
	list-style-type: none;
}

.service-desc p::-webkit-scrollbar{
	display: none;
	-ms-overflow-style: none;	/*internet explorer*/
	scrollbar-width: none;		/*mozilla fireforx*/
}

.coach-service-desc p::-webkit-scrollbar{
	display: none;
	-ms-overflow-style: none;	/*internet explorer*/
	scrollbar-width: none;		/*mozilla fireforx*/
}

.firm-service:hover .service-desc{
	bottom: 40%;
	opacity: 1;
}

.firm-service:hover .ser-overlay{
	opacity: 0.9;
}


p button{
	width: 180px;
	background: #b09163;
	text-align: center;
	color: #fff;
	padding: 12px 5px;
	border: 0.10rem solid #fff;
	border-radius: 5px;
	z-index: 1;
	cursor: pointer;
	text-decoration: none;
	color: #fff;
}
	
.service-popup{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 200ms ease-in-out;
	border-radius: 2px;
	background: #b09163;
	z-index: -1;
	width: 80%;
	height: 80%;
}


.service-popup.active{
	transform: translate(-50%,-50%) scale(1);
	z-index: 6;
}

.popup-header{
	display: flex;
	justify-content: space-between;
	color: #fff;
	align-items: center;
	padding: 20px 15px;
	border-bottom: 0.5px solid #fff;
}

.popup-header h3{
	color: #fff;
	font-weight: bold;
	font-size: 2.0rem;
}

.popup-header .close-button{
	color: #fff;
	cursor: pointer;
	border: none;
	background: none;
	outline: none;
	font-size: 2rem;
	font-weight: bold;
}

.popup-body{
	display: flex;
	postion: relative;
	height: 81%;
	padding: 10px 15px;
	text-align: left;
	overflow-y: scroll;
	color: #fff;
}

.pop-body-div{
	flex-basis: 45%;
}

.pop-body-div p, .pop-body-div h4{
	color: #fff;
}

ul.desc-list li{
	margin-left: 5%;
	color: #fff;
}

.pop-body-div img{
	height: auto;
	width: auto;
	max-width: 80%;
	margin-left: 25%;
	border: none;
	border-radius:5px;
}


.popup-body::-webkit-scrollbar{
	display: none;
	-ms-overflow-style: none;	/*internet explorer*/
	scrollbar-width: none;		/*mozilla fireforx*/
}


#popup-overlay{
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	transition: 200ms ease-in-out;
	background: rgba(255,255,255, 0.95);
	z-index: -1;
}

#popup-overlay.active{
	opacity: 1;
	z-index: 6;
	pointer-events: all;
}

#scheduler{
	width: 20%;
	height: 80%;
	border-radius: 5px;
}


@media screen and (min-width: 280px) and (max-width: 770px){
	.firm-service{
		flex-basis: 100%;
		margin-bottom: 30px;

	}

	.coach-service{
		flex-basis: 100%;
		margin-bottom: 30px;
	}
	
	.service-desc p{
		font-size: 12px;
		height: 150px;
	}
	
	hr{
		margin: 5px auto;
	}

	.firm-service:hover .service-desc{
		bottom: 25% !important;
	}
	
	.service-popup{
		height: 500px;
	}	

	.popup-header h3{
		font-size: 1.5rem;
	}
	.popup-body{ 
		height: 60%;
		overflow-y: scroll;
		padding: 8px 12px;
	}

	.popup-body::-webkit-scrollbar{
		display: none;
		-ms-overflow-style: none;	/*internet explorer*/
		scrollbar-width: none;		/*mozilla fireforx*/
	}


	.pop-body-div{
		flex-basis: 100%;
		height: 80%;
	}

	.pop-body-div p{
		font-size: 12px;
	}
	
	ul.desc-list li{
		margin-left: 2%;
		font-size: 12px;
	}

	.pop-body-div img{
	height: auto;
	max-width: 90%;
	margin-left: 10%;
	border: none;
	border-radius:5px;
	}

	#scheduler{
	min-width: 90%;
	}
	#scheduler .popup-body{
	height: 80%;
	}

}

@media screen and (min-width: 770px) and (max-width:1080px){
	.service-desc p{
		font-size: 12px;
		overflow-y: scroll;
		height: 60px;
	}
	
	
	.popup-body{ 
		height: 210px;
		overflow-y: scroll;
		padding: 8px 12px;
	}

	.popup-body::-webkit-scrollbar{
		display: none;
		-ms-overflow-style: none;	/*internet explorer*/
		scrollbar-width: none;		/*mozilla fireforx*/
	}

	.pop-body-div{
		height: 85%;
	}
	
	.popup-header h3{
		font-size: 1.5rem;
	}
	
	.pop-body-div p{
		font-size: 10px;
	}
	
	.pop-body-div ul{
		font-size: 10px;
	}

	.pop-body-div img{
	height: auto;
	max-width: 75%;
	margin-left: 5%;
	border: none;
	border-radius:5px;
	}
	
	#scheduler{
	width: 40%;
	height: 80%;
	border-radius: 5px;
	}

	#shceduler .popup-body{
	height: 78%;
	}
}

/*--- Products Section ---*/
/* style for sections with products*/

#Products{
	width: 100%;
	padding: 70px 0;
	background: #fff;
}

.products-box{
	width: 80%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background: #00c060;
	padding: 20px;
	border-radius: 15px;
}

.productProfile{
	flex-basis: 50%;
	height: 100%;
	background: transparent;
}


.productProfile h3{
	font-size: 24px;
	margin: 5px 0 0 5px;
}

.productProfile p {
	font-size: 15px;
	font-weight: 600;
}
.product-img{
	flex-basis: 50%;
	margin: auto;
}

.product-img img{
	width:40%;
	margin: 0 25% 0 25%;
	border-radius: 10px;
}


/*--- Testimonials Section ---*/

#testimonials{
	width: 100%;
	height:100vh;
	padding: 70px 0;
}

.testimonial-row{
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

.testimonial-col{
	flex-basis: 28%;
	padding: 10px;
	margin-bottom: 25px;
	border-radius: 8px;
	box-shadow: 0 10px 20px 3px ##8B52F9;
}

.testimonial-col p{
	font-size: 14px;
}

@media screen and (max-width: 770px){
	#testimonials{
		height: auto;
	}
	.testimonial-col{
		flex-basis: 100%;
	}
	
	.testimonial-col p{
		font-size: 12px;
	}
}

/*--Contact Section--*/

#Contact{
	width: 100%;
	padding: 70px 0 0 0;
	background: #fff;
	position: relative;
}

.contact-row{
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;	
}

.contact-right{
	text-align: right;
	width: 35%;	
}

.contact-right h3{
	font-size: 20px;
	padding-right: 10px;
	padding-bottom: 2px;
	margin: 5px;
}
.contact-right h5{
	padding-right: 10px;
	margin: 5px;
}

.contact-right p{
	font-size: 15px;
	margin-right: 5px;
	line-height: 30px;
}

.contact-right a button {
	background: #b69d74;
	padding: 10px;
	margin-right: 5px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	cursor: pointer;
}


.contact-left{
	align-items: left;
	width: 60%;
}

.contact-left iframe{
	width: 100%;
	height: 400px;
}

.pg_footer{
	margin-top: 20px;
	margin-bottom: 0;
	border: solid 0.5px #fff;
	text-align: center;
	text-transform: uppercase;
	background: #b69d74;
}

.pg_footer p{
	color: #1f2839;
	font-weight: bold;
	font-size: 10px;
	padding: 2px;
}



@media screen and (max-width: 770px){
	.contact-left{
		width: 100%;
		margin-bottom: 20px;
	}
	
	.contact-left iframe{
		height: 350px;
	}
	.contact-right{
			width: 100%;
	}
	
	.contact-right h3{
		font-size: 16px;
	}
	.contact-right p{
		font-size: 12px;	
	}

	.form-field{
		font-size: 12px;
	}

	contact.row{
		align-items: center;
	}

	.contact-footer p{
		font-size: 6px;
	}
}

/*-- Error pages --*/
/*-- 404 page --*/
#404_page{
	height: 100vh;
}
.ErrorContent{
	position: absolute;
	top: 40%;
	left: 40%;
}
.ErrorText{
	display: inline-block;
	font-size: 3em;
}
@media screen and (min-width: 280px) and (max-width: 770px){
	.ErrorContent{
		top: 35%;
		left: 30%;
	}

	.ErrorText{
		font-size: 30px;
	}

}
