*{
	
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar{
	width: 10px;
}

::-webkit-scrollbar-track{
	border-radius: 5px;
	box-shadow: inset 0 0 10px #fff;
}

::-webkit-scrollbar-thumb{
	border-radius: 5px;
	background-color: #5e5e5e;
}

ul.desc-list{
	list-style-type: square;
	margin-left: 3%;
	font-weight: 500;
}


/*--Page Banner--*/
#pageBanner{
	background: url("photos/logo_final.jpeg"); /*linear-gradient(to right, rgba(139,82,249,0.4), rgba(255,0,0,0) 5%), linear-gradient(to left, rgba(139,82,249,0.4), rgba(255,0,0,0) 5%), ;*/
	background-size: initial;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
}


.BannerContent{
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-40%, -60%);
}

.bannerText{
	display: block;
}

.banner-btn{
	margin-top: 2%;
	display: inline-block;
	
}

.banner-btn a{
	width: 165px;
	text-decoration: none;
	text-align: center;
	font-weight: bold;
	display: inline-block;
	padding: 12px 2px;
	color: #000;
	border: none;
	border-radius: 10px;
	position: relative;
	z-index: 1;
	transition: 0.5s;
}

.banner-btn a span{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 10px;
	background: rgba(139,82,249, 0.7);
	z-index: -1;
	/*transition: 0.5s;*/
}

/*.banner-btn a:hover span{
	width: 100%;
}

.banner-btn a:hover {
	color: #fff;
}*/
#nav_top{
 	width: 100%;
	height: 70px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	background: rgba(139,82,249, 0.7);
	border: 0.3px solid #fff;
}
nav{
	top: 0;
	margin-top: 1%;
	margin-left: 3.8%;
	
}
nav ul li{
	display: inline;
	list-style: none;
	text-align: center;	
	text-transform: uppercase;
	float: right;
}

nav ul li a button{
	cursor: pointer;
	border: none;
	color: #fff;
	text-transform: uppercase;
	border-left: solid #fff;
	background: transparent;
	padding: 15px;
	margin: 0 5px 5px 3px;
	font-size: 16px;
	font-weight: bold;
	transition: 0.5s;
}

.nav-btn:hover{
	background:#fff;
	color:#000;
}


img.logo{
	display: block;
	position: absolute;
	top: 0;
	left: 8.6%;
	height: 100%;
	width: auto;
}

@media screen and (min-width: 360px) and (max-width: 770px){

	#pageBanner{
		background-size: contain;
		height: cal(100vh - 10%);
	}

	nav ul li a button{
		width: 60px;
		font-size: 10px;
		padding: 1px;
	}
	
	.BannerContent{
		position: absolute;
		top: 75%;
		left: 50%;
		transform: translate(-50%, -30%);
	}
	
	.banner-btn{
		display: inline-block;
	}

	.banner-btn a{
		margin: 20px auto;
		font-size: 13px;
		width: 145px;
	}
}

@media screen and (max-width: 920px){

	#pgBanner{
		height: auto;
	}
	
	.BannerContent{
		position: absolute;
		top: 90%;
		left: 50%;
		transform: translate(-80%, -45%);
	}

}

/*--About Section--*/

#About{
	width: 100%;
	padding: 70px 0;
	background: #fff;/*linear-gradient(to right, rgba(139,82,249,0.4), rgba(255,0,0,0) 5%), linear-gradient(to left, rgba(139,82,249,0.4), rgba(255,0,0,0) 5%);*/
}

.SectionTitle{
	text-align: center;
	padding-bottom: 70px;
}

.SectionTitle p{
	margin: auto;
	font-size: 30px;
	font-weight: bold;
	postion: relative;
	z-index: 1;
	display: inline-block;
}

.SectionTitle h1{
	color: #000;
	font-size: 80px;
	font-family: 'Poppins', sans-serif;	
}

.profile-box{
	width: 80%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	background: transparent/*rgba(139,82,249,0.65)*/;
	padding: 20px;
	border-radius: 15px;
}

.memberProfile{
	flex-basis: 50%;
	height: 100%;
	color:#000;
}

.member-img{
	flex-basis: 50%;
	margin: auto;
}

.member-img img{
	width:60%;
	margin-left: 25%;
	border-radius: 10px;
}

.memberProfile h2{
	text-align: left;
	margin: 0 auto 15px auto;
	font-family:'Poppins', sans-serif;
	font-weight: 450;
	font-size: 45px;
	color: #000;
}

.memberProfile h4{
	color: #000;
	font-weight: 200;
}

.profile-text{
	width: 100%;
}
.profile-text p{
	padding: 20px 20px 20px 0;
	text-align: initial;
	color: #000;
	font-size: 16px;
	font-weight: 500;
}

.profile-btn a{
	width: 60%;
	text-decoration: none;
	text-align: center;
	font-weight: 530;
	display: block;
	padding: 12px 0;
	color: #000;
	border: 0.5px solid #fff;
	border-radius: 10px;
	background: #BD97FE;
	position: relative;
	margin-left: 25%;
	z-index: 1;
	transition: 0.5s;
}
/*
.profile-btn a span{
	width: 0;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 10px;
	background: #fff;
	z-index: -1;
	transition: 0.5s;
}

.profile-btn a:hover{
	color:rgb(139,82,249);
	font-weight: bold;
}

.profile-btn a:hover span{
	width: 100%;

}
*/
@media screen and (min-width: 300px) and (max-width: 445px){
	#About{
		height: auto;
	}
	.SectionTitle p{
		font-size: 25px;
	}
	
	.SectionTitle h1{
		font-size: 45px;
	}

	.memberProfile{
		flex-basis: 100%
	}

	.member-img{
		flex-basis: 100%;
		margin-top: 5px;
		margin-left: 1px;
	}

	.profile-text p{
		font-size: 14px;
	}
	
	.profile-btn a{
		flex-basis: 100%;
		font-size: 12px;
	}
}

@media screen and (min-width: 450px) and (max-width: 900px){
	#About{
		height: auto;
	}
	.SectionTitle p{
		font-size: 35px;
	}
	
	.SectionTitle h1{
		font-size: 55px;
	}

	.memberProfile{
		flex-basis: 100%
	}

	.member-img{
		flex-basis: 100%;
		margin: 5px auto;
	}

	.profile-text p{
		font-size: 15px;
	}

	.profile-btn a{
		flex-basis: 100%;
	}
}
/*--Services Section*/

#Services{
	width: 100%;
	padding: 70px 0;
	background: #fff;/*linear-gradient(to right, rgba(139,82,249,0.4), rgba(255,0,0,0) 5%), linear-gradient(to left, rgba(139,82,249,0.4), rgba(255,0,0,0) 5%);*/
}

.service-box{
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin:auto;
}

.firm-service{
	flex-basis: 33%;
	height: auto;
	text-align: center;
	border-radius: 8px;
	margin-bottom: 10px;
	margin-top: 10px;
	color: #fff;
	position: relative;
}

.firm-service img{
	width: 100%;
	height: 100%;
	border-radius: 10px;
	opacity: 0.65;
}

.ser-overlay{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	border-radius: 8px;
	cursor: pointer;
	opacity: 0;
	background: #8B52F9;
	transition: 1s;
}

.service-desc{
	color: #fff;
	font-weight: 620;
	width: 80%;
	position: absolute;
	top: 15%;
	left: 50%;
	opacity: 0;
	transform: translateY(-15%) translateX(-50%);
	transition: 1s;
}
hr{
	background: #fff;
	height: 2px;
	border: 0;
	margin: 20px auto;
	width: 100%;
}

.service-desc h3{
	font-size: 20px;
	position: absolute:
	top: 0;
}

.service-desc p{
	width: 100%;
	height: 115%;
	position: absolute;
	font-size: 12px;
	text-align: left;
	overflow-y: scroll;
	overflow-x: hidden;
}

.service-desc p::-webkit-scrollbar{
	display: none;
	-ms-overflow-style: none;	/*internet explorer*/
	scrollbar-width: none;		/*mozilla fireforx*/
}

.firm-service:hover .service-desc{
	bottom: 40%;
	opacity: 1;
}

.firm-service:hover .ser-overlay{
	opacity: 0.9;
}


p button{
	width: 180px;
	background: rgba(56,31,110,0.4);
	text-align: center;
	color: #fff;
	padding: 12px 5px;
	border:none;
	border-radius: 5px;
	z-index: 1;
	cursor: pointer;
}

p button {
	text-decoration: none;
	color: #fff;
}
	
.service-popup{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 200ms ease-in-out;
	border-radius: 2px;
	background: rgba(207,179,254,0.9);
	z-index: -1;
	width: 80%;
	height: 80%;
}
.service-popup.active{
	transform: translate(-50%,-50%) scale(1);
	z-index: 6;
}

.popup-header{
	display: flex;
	justify-content: space-between;
	color: #000;
	align-items: center;
	padding: 20px 15px;
	border-bottom: 0.5px solid #000;
}

.popup-header h3{
	font-weight: bold;
	font-size: 2.0rem;
}

.popup-header .close-button{
	cursor: pointer;
	border: none;
	background: none;
	outline: none;
	font-size: 2rem;
	font-weight: bold;
}

.popup-body{
	display: flex;
	padding: 10px 15px;
	text-align: left;
	color: #000;
}
.pop-body-div{
	flex-basis: 45%;

}

.pop-body-div img{
	height: 80%;
	width: auto;
	max-width: 90%;
	margin-left: 10%;
	border: none;
	border-radius:5px;
}

#popup-overlay{
	position: fixed;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	transition: 200ms ease-in-out;
	background: rgba(255,255,255, 0.95);
	z-index: -1;
}

#popup-overlay.active{
	opacity: 1;
	z-index: 6;
	pointer-events: all;
}

@media screen and (min-width: 280px) and (max-width: 770px){
	.firm-service{
		flex-basis: 100%;
		margin-bottom: 30px;

	}
	
	.service-desc p{
		font-size: 12px;
		height: 150px;
	}
	
	hr{
		margin: 5px auto;
	}

	.firm-service:hover .service-desc{
		bottom: 25% !important;
	}
	
	.service-popup{
		height: 500px;
	}
	.popup-header h3{
		font-size: 1.5rem;
	}
	.popup-body{ 
		height: 380px;
		overflow-y: scroll;
		padding: 8px 12px;
	}

	.popup-body::-webkit-scrollbar{
		display: none;
		-ms-overflow-style: none;	/*internet explorer*/
		scrollbar-width: none;		/*mozilla fireforx*/
	}


	.pop-body-div{
		flex-basis: 100%;
		height: 80%;
	}

	.pop-body-div p{
		font-size: 12px;
	}
	
	.pop-body-div ul{
		width: 100%;
		font-size: 12px;
	}

	.pop-body-div img{
	height: auto;
	max-width: 90%;
	margin-left: 10%;
	border: none;
	border-radius:5px;
	}
}

@media screen and (min-width: 770px) and (max-width:1080px){
	.service-desc p{
		font-size: 12px;
		overflow-y: scroll;
		height: 60px;
	}

	.popup-body{ 
		height: 210px;
		overflow-y: scroll;
		padding: 8px 12px;
	}

	.popup-body::-webkit-scrollbar{
		display: none;
		-ms-overflow-style: none;	/*internet explorer*/
		scrollbar-width: none;		/*mozilla fireforx*/
	}

	.pop-body-div{
		height: 85%;
	}
	
	.popup-header h3{
		font-size: 1.5rem;
	}
	
	.pop-body-div p{
		font-size: 10px;
	}
	
	.pop-body-div ul{
		font-size: 10px;
	}

	.pop-body-div img{
	height: auto;
	max-width: 75%;
	margin-left: 5%;
	border: none;
	border-radius:5px;
	}
}


/*--- Testimonials Section ---*/

#testimonials{
	width: 100%;
	height:100vh;
	padding: 70px 0;
}

.testimonial-row{
	width: 80%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

.testimonial-col{
	flex-basis: 28%;
	padding: 10px;
	margin-bottom: 25px;
	border-radius: 8px;
	box-shadow: 0 10px 20px 3px ##8B52F9;
}

.testimonial-col p{
	font-size: 14px;
}

@media screen and (max-width: 770px){
	#testimonials{
		height: auto;
	}
	.testimonial-col{
		flex-basis: 100%;
	}
	
	.testimonial-col p{
		font-size: 12px;
	}
}

/*--Contact Section--*/

#Contact{
	width: 100%;
	padding: 70px 0 0 0;
	background: #fff;/*linear-gradient(to right, rgba(139,82,249,0.4), rgba(255,0,0,0) 5%), linear-gradient(to left, rgba(139,82,249,0.4), rgba(255,0,0,0) 5%);*/
	position: relative;
}

.contact-row{
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;	
}

.contact-right{
	text-align: right;
	width: 35%;	
}

.contact-right h3{
	font-size: 20px;
	padding-right: 10px;
	padding-bottom: 2px;
	margin: 5px;
}
.contact-right h5{
	padding-right: 10px;
	margin: 5px;
}

.contact-right p{
	font-size: 15px;
	margin-right: 5px;
	line-height: 30px;
}

.contact-right a button {
	background: rgba(139,82,249,0.7);
	color: #000;
	padding: 10px;
	margin-right: 5px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	cursor: pointer;
}

.contact-left{
	align-items: left;
	width: 60%;
}

.contact-left iframe{
	width: 100%;
	height: 400px;
}

.contact-footer{
	width: 80%;
	margin-top: 20px;
	margin-bottom: 0;
	border: solid 1px #000;
	border-radius: 4px;
	text-align: center;
	text-transform: uppercase;
	background: transparent;
	color: #000;
	margin-left: 10%;
}

.contact-footer p{
	font-size: 8px;
	padding: 2px;
}

/*
.form-field{
	width: 100%;
	line-height: 25px;
	background:transparent;
	margin: 12px;
	border-radius: 5px;
	font-size: 15px;
}

textarea{
	height: 200px;
}

form .submit{
	transition: 0.75s;
}
form .submit:hover{
	cursor: pointer;
	background: #000;
	color: #fff;
}
*/

@media screen and (max-width: 770px){
	.contact-left{
		width: 100%;
		margin-bottom: 20px;
	}
	
	.contact-left iframe{
		height: 350px;
	}
	.contact-right{
			width: 100%;
	}
	
	.contact-right h3{
		font-size: 16px;
	}
	.contact-right p{
		font-size: 12px;	
	}

	.form-field{
		font-size: 12px;
	}

	contact.row{
		align-items: center;
	}
	.contact-footer p{
		font-size: 6px;
	}
}
